@import "tailwindcss";

/* file: src/index.css hoặc globals.css */
.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari và Edge */
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE và Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Custom Drawer nhẹ nhàng hơn */
.custom-drawer .ant-drawer-body {
    background: #fff !important;
    padding: 0 !important;
}

/* Ẩn scrollbar để menu gọn hơn */
.custom-drawer .ant-drawer-body::-webkit-scrollbar {
    width: 0 !important;
}

/* Menu hover tinh tế */
.ant-menu-light .ant-menu-item:hover {
    background-color: #f8fafc !important;
    color: #1677ff !important;
}